.idea
.DS_store
__pycache__
*.py[cod]
*$py.class

lines/training/all_printed
lines/training/handwritten/*
lines/training/printed/*
lines/training/set/*

lines/validation/handwritten/*
lines/validation/printed/*

